.keyboard {
    position: relative;
    padding: 1.25rem;
    background-color: #fa73a2;
}
.keyboard h3 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}
.keyboard > .message {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: 10;
}
